body{
    margin:0;
  }
  header{
    justify-content: space-between;
    display: flex;
    background: rgb(212,14,14);
    background: linear-gradient(90deg, rgba(212,14,14,1) 0%, rgba(142,25,25,1) 100%);
  }
  nav a {
      float: left;
      text-align: center;
      padding: 30px 10px;
      color: white;
      text-decoration: none;
      font-family: Berlin Sans FB;;
      border-radius: 30px;
  }
  nav a:hover {
      transition: 0.75s;
      background-color: black;
  }

  

  .logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 5px;
}

.logo span {
    font-family: Berlin Sans FB;
    font-size: 24px;
    color: white;
}